.navbarWrapper {
  //padding: 20px 20px 0 20px;

  .navbar {
    height: 100px;
    background: #F9942A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    .navLeft {
      display: flex;
      align-items: center;
      column-gap: 30px;

      .messengers {
        display: flex;
        column-gap: 15px;

        svg, img {
          cursor: pointer;
        }
      }
    }
  }
}


@media only screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    align-items: flex-start;
  }
}